<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head(title='Listado de libros', 
          description='Listado de libros de la BD.',
          script='/library/js/bookList.js')"></head>
    <body>
        <header>
            <h1 th:text="${'LIBROS' + (author != null ? ' DE «' + #strings.toUpperCase(author.name) + '»' : '')}"></h1>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>TÍTULO</th>
                        <th>AUTOR</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="links" th:if="${author == null}">
                <button id="addBook">Añadir un libro</button>
            </div>
            <form id="createBook" name="createBook" method="POST" action="create" hidden>
                <fieldset>
                    <legend>Datos del nuevo libro</legend>
                    <div>
                        <label for="pk_isbn">ISBN:</label>
                        <input type="text" id="pk_isbn" name="pk_isbn" minlength="13" maxlength="13"/>
                    </div>
                    <div>
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" maxlength="64"/>
                    </div>
                    <div>
                        <label for="fk_author">Autor:</label>
                        <select id="fk_author" name="fk_author"></select>
                    </div>
                </fieldset>
                <button id="saveBook" name="saveBook">Añadir</button>
            </form>
            <div class="links" th:unless="${author == null}">
                <a th:href="${'../../authors/' + author.pk_id}">Volver al autor</a>
                <a href='../list'>Ver todos los libros</a>
            </div>
        </main>
    </body>
</html>