<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Germán Zunzunegui Rodríguez"/>
        <meta name="description" th:content="${description}"/>
        <link rel="stylesheet" type="text/css" href="/library/css/styles.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/library/images/library.ico"/>
        <script src="/library/js/jQuery.js"></script>
        <script src="/library/js/ajaxRequests.js"></script>
        <script th:src="${script}"></script>
        <title th:text="${title}"></title>
    </head>
</html>