
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Capitulos</title>
<style type="text/css">
	table{
		text-align: center;
	}
</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Titulo</th>
				<th>Paginas</th>	
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="capitulo:${capitulos}">
				<td th:text="${capitulo.titulo}"></td>
				<td th:text="${capitulo.paginas}"></td>
				<td><a th:href="@{'capitulos/borrar?titulo=' +${capitulo.titulo}}">borrar</a></td>
			</tr>
		</tbody>
	</table>

	<a href="capitulos/nuevo">Nuevo capitulo</a>
	<a href="../lista">volver</a>

</body>
</html>